@model HomeViewModel

<section class="section why-us" data-section="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Why choose Grad School?</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div id='tabs'>
                    <ul>
                        <li><a href='#tabs-1'>@Model.Setting.WhyUsTittle</a></li>
                        <li><a href='#tabs-2'>@Model.Setting.WhyUsTittle1</a></li>
                        <li><a href='#tabs-3'>@Model.Setting.WhyUsTittle2</a></li>
                    </ul>
                    <section class='tabs-content'>
                        <article id='tabs-1'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="@Model.Setting.WhyUsImagePath" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>@Model.Setting.WhyUsTittle</h4>
                                    <p>@Model.Setting.WhyUsText </p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-2'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="@Model.Setting.WhyUsImagePath1" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>@Model.Setting.WhyUsTittle1</h4>
                                    <p>@Model.Setting.WhyUsText1 </p>
                                </div>
                            </div>
                        </article>
                        <article id='tabs-3'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="@Model.Setting.WhyUsImagePath2" alt="">
                                </div>
                                <div class="col-md-6">
                                    <h4>@Model.Setting.WhyUsTittle2</h4>
                                    <p>@Model.Setting.WhyUsText2</p>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>