@model HomeViewModel

<section class="section video" data-section="section5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <div class="left-content">
                    @* <span>our presentation is for you</span> *@
                    <h4>@Model.Setting.AboutTittle</em></h4>
                    <p>
                      @Model.Setting.AboutText
                    </p>
                    <div class="main-button"><a rel="nofollow" href="@Model.Setting.Facebook" target="_parent">Face Book</a></div>
                </div>
            </div>
            <div class="col-md-6">
                <article class="video-item">
                    <div class="video-caption">
                        <h4>Power HTML Template</h4>
                    </div>
                    <figure>
                        <a href="@Model.Setting.Youtube" class="play">
                            <img src="@Model.Setting.AboutImagePath">
                            </a>
                    </figure>
                </article>
            </div>
        </div>
    </div>
</section>