
@model ICollection<TeacherViewDTO>
<div class="text-left">
    <a class="btn btn-success btn-sm" asp-area="Admin" asp-controller="Teacher" asp-action="Create">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Experience</th>
                <th scope="col">Birthdate</th>
                <th scope="col">Image</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.Experience</td>
                        <td>@item.BirthDate</td>
                        <td>
                            <img style="width:70px;height:70px;" src="@item.ImagaPath" alt="Uploaded Image" />
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm" asp-area="Admin" asp-controller="Teacher" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            <a class="btn btn-info btn-sm" asp-area="Admin" asp-controller="Teacher" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
